/* basic site styling */
* {
    box-sizing: border-box;
    font-family: Nunito;
}

body, html {
    background-color: black;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

a{
    color: white;
}

a:hover{
    color: #663399;
}

/* navbar styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* space out the logo and links */
    align-items: center;
    width: 100%; /* full width */
    padding: 0 1.5rem; /* reduce the right and left padding to bring logo closer to left */
}

.logo img {
    max-width: 100%; /* ensure the image doesn't exceed its container */
    height: auto; /* maintain aspect ratio */
    width: auto; /* ensure it scales smoothly */
    max-height: 50px; /* adjust size of the logo */
    margin-right: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-links a:hover {
    color: #663399;
}

/* default styles for mobile (navbar is a collapsed menu) */
.navbar-links {
    display: none; /* hide navbar links by default */
    width: 100%;
    text-align: center;
    top: 70px; /* position it right below the navbar */
    left: 0;
    background-color: transparent; /* match the navbar background */
    padding: 1rem 0; /* add padding for the links */
    flex-direction: column; /* stack the links vertically */
}

.navbar-links.active {
    display: flex; /* show links when the "active" class is added */
}

.navbar-links li {
    margin: 1rem 0; /* vertical spacing between links */
}

/* styles for the portfolio grid */
.resume-header{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    grid-area: resume-header;
}

.resume-text{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    grid-area: resume-text;
}

.resume-subtext{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    grid-area: resume-subtext;
}

.resume-image{
    display: none;
}

.resume-image > img{
    object-fit: contain;
    width: 100%;
    height: 100%;  /* This will make the image fill the available height */
    border-radius: 25px;
}

.resume-grid-container{
    color: white;
    text-align: start;
    display: grid;
    place-items: start;
    margin: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. resume-header resume-header resume-header resume-header resume-header resume-header resume-header resume-header resume-header resume-header .'
        '. resume-text resume-text resume-text resume-text resume-text resume-text resume-text resume-text resume-text resume-text .'
        '. resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext .';
    gap: 0;
    position: relative;
    z-index: 1;
}
/* styles for the modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; 
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black with opacity */
}
  
.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Adjust this value as needed */
}
  
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* media query to make the site change for full size non mobile screens */
@media screen and (min-width: 64rem) {

    /* media query stuff for desktop screen navbar */
    .navbar-container {
        justify-content: space-between; /* space out the logo and links across the navbar */
    }

    .logo img {
        max-height: 60px; /* adjust logo size on large screens */
    }

    .navbar-links {
        display: flex; /* display links horizontally */
        position: static; /* remove absolute positioning */
        flex-direction: row; /* display links in a row */
        text-align: right; /* align text to the right */
        background-color: transparent; /* remove background color */
        padding: 0; /* remove extra padding */
    }

    .navbar-links li {
        margin: 0 1rem; /* horizontal spacing for large screens */
    }

    /* media query stuff for the portfolio */
    .resume-grid-container{
        margin-left: 1rem;
        grid-template-areas:
            '. resume-header resume-header resume-header resume-header resume-header resume-header . . . . .'
            '. resume-text resume-text resume-text resume-text resume-text resume-text . . . . .'
            '. resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext resume-subtext . . . . .';
    }
    .resume-image{
        margin-left: 10rem;
        margin-top: 10rem;
        grid-column: span 4;
        grid-row: span 4;
        max-width: 100%;
        display: block;
        background-size: cover;
    }
}