/* basic site styling */
* {
    box-sizing: border-box;
    font-family: Nunito;
}

body, html {
    background-color: black;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

a{
    color: white;
}

a:hover{
    color: #663399;
}

/* navbar styles */
.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* space out the logo and links */
    align-items: center;
    width: 100%; /* full width */
    padding: 0 1.5rem; /* reduce the right and left padding to bring logo closer to left */
}

.logo img {
    max-width: 100%; /* ensure the image doesn't exceed its container */
    height: auto; /* maintain aspect ratio */
    width: auto; /* ensure it scales smoothly */
    max-height: 50px; /* adjust size of the logo */
    margin-right: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    margin: 0 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    transition: color 0.3s, background-color 0.3s;
}

.navbar-links a:hover {
    color: #663399;
}

/* default styles for mobile (navbar is a collapsed menu) */
.navbar-links {
    display: none; /* hide navbar links by default */
    width: 100%;
    text-align: center;
    top: 70px; /* position it right below the navbar */
    left: 0;
    background-color: transparent; /* match the navbar background */
    padding: 1rem 0; /* add padding for the links */
    flex-direction: column; /* stack the links vertically */
}

.navbar-links.active {
    display: flex; /* show links when the "active" class is added */
}

.navbar-links li {
    margin: 1rem 0; /* vertical spacing between links */
}

/* styling for the title section grid container and contents */
.title {
    background-color: white;
    border-radius: 25px;
    font-size: 3rem;
    padding: 2rem;
    grid-area: title; /* declaring my grid area name */
}

.subtitle{
    background-color: white;
    font-size: 2rem;
    border-radius: 25px;
    padding: 1rem;
    grid-area: subtitle; /* declaring my grid area name */
}

/* styling the image content within the items that are on the title grid */
.portrait > img{
    object-fit: contain;
    width: 100%;
    height: 100%;  /* This will make the image fill the available height */
    border-radius: 25px;
}

.portrait{
    display: none;
}

.title-grid-container{
    color: black;
    display: grid;
    place-items: center;
    margin: 3rem;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. title title title title title title title title title title .'
        '. subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle .';
    row-gap: 3rem;
    column-gap: 0rem;
    position: relative;
    z-index: 1;
}

/* styles for the about me grid container and contents */
.about-me-header{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    grid-area: about-me-header;
}

.about-me-text{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    grid-area: about-me-text;
}

.about-me-grid-container{
    color: white;
    text-align: start;
    display: grid;
    place-items: start;
    margin: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header .'
        '. about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text .';
    gap: 0;
    position: relative;
    z-index: 1;
}

/* styles for the timeline section */
.timeline-wrapper {
    position: relative;
    display: flex;
    align-items: start;
    grid-area: timeline;
}

.timeline-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px 0;
    scrollbar-width: thin;
    scrollbar-color: #e4e4e4 #3f3f3f59;
    direction: ltr;
    color: white;
}

.timeline-entry {
    border-radius: 25px;
    flex: 0 0 auto; /* prevent flex items from shrinking */
    margin: 0 10px; /* add spacing between entries */
    min-width: 15rem;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: transparent;
    padding: 20px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.timeline-entry:hover {
    transform: scale(1.05);
    background: #e0e0e04a;
}

.timeline-date-text {
    color: #aaa;
}

.toggle-button{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    color: white;
    margin-top: 10px;
    border: 0;
    border-radius: 25px;
}

.timeline-header{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.5rem;
    border-radius: 25px;
    align-self: end;
    grid-area: timeline-header
}

.timeline-image{
    display: none;
}

.timeline-image > img{
    object-fit: contain;
    width: 100%;
    height: 100%;  /* This will make the image fill the available height */
    border-radius: 25px;
}

.timeline-grid-container{
    color: white;
    display: grid;
    place-items: start;
    margin: 1rem;
    text-align: start;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header .'
        '. timeline timeline timeline timeline timeline timeline timeline timeline timeline timeline .';
    gap: 0rem;
    position: relative;
    z-index: 1;
}

/* styles for the contact me section */
.contact-me-header{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.5rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    grid-area: contact-me-header;
}

.contact-me-content{
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* adds a blur effect to the background behind the navbar */
    font-size: 1.2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    grid-area: contact-me-text;
}

.contact-me-grid-container{
    color: white;
    text-align: start;
    display: grid;
    place-items: start;
    margin: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header .'
        '. contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text .';
    gap: 0;
    position: relative;
    z-index: 1;
}

/* media query to make the site change for full size non mobile screens */
@media screen and (min-width: 64rem) {

    /*edits to make the new title grid layout and change it to the full screen gap*/
    .title-grid-container{
        column-gap: 2rem;
        row-gap: 1rem;
        grid-template-areas:
            '. title title title title title title . . . . . .'
            '. subtitle subtitle subtitle subtitle subtitle subtitle . . . . . .';
    }
    .portrait{
        grid-column: span 4;  /* adjust how many columns the image spans */
        grid-row: span 2; /* makes the image span across both rows */
        max-width: 100%;  /* ensures the image does not overflow */
        display: block;
        background-size: cover;
    }

    /* media query stuff for desktop screen about me */
    .about-me-grid-container{
        margin-left: 3rem;
        grid-template-areas:
        '. about-me-header about-me-header about-me-header about-me-header about-me-header about-me-header . . . . .'
        '. about-me-text about-me-text about-me-text about-me-text about-me-text about-me-text . . . . .';
    }

    /* media query stuff for desktop screen navbar */
    .navbar-container {
        justify-content: space-between; /* space out the logo and links across the navbar */
    }

    .logo img {
        max-height: 60px; /* adjust logo size on large screens */
    }

    .navbar-links {
        display: flex; /* display links horizontally */
        position: static; /* remove absolute positioning */
        flex-direction: row; /* display links in a row */
        text-align: right; /* align text to the right */
        background-color: transparent; /* remove background color */
        padding: 0; /* remove extra padding */
    }

    .navbar-links li {
        margin: 0 1rem; /* horizontal spacing for large screens */
    }

    /* media query stuff for the timeline */
    .timeline-grid-container{
        margin-left: 3rem;
        grid-template-areas:
            '. timeline-header timeline-header timeline-header timeline-header timeline-header timeline-header . . . . .'
            '. timeline timeline timeline timeline timeline timeline . . . . .';
    }
    .timeline-image{
        grid-column: span 4;
        grid-row: span 2;
        max-width: 100%;
        display: block;
        background-size: cover;
    }

    /* media query stuff for the contact me grid */
    .contact-me-grid-container{
        margin-left: 3rem;
        grid-template-areas:
            '. contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header contact-me-header . . . . .'
            '. contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text contact-me-text . . . . .';
    }
}